@if (isViewingLog) {
    <app-sales-log-component (back)="outOfLog(); isInStorage = $event"></app-sales-log-component>
}@else if (isViewingMLog) {
    <app-movement-log-component (back)="isViewingMLog=false"></app-movement-log-component>
}
@else {
    @if (!isInStorage) {
    <app-sales-component (openLog)="openLog($event)"></app-sales-component>
    <span class="align-top p-3 block">
        <div>
            @if (isOutOfIngredient){<button class="bg-linear-0 from-red-600 via-red-700 to-red-600 hover:via-red-500 hover:scale-101 rounded-xl p-1 border-gray-600 border-2 mt-5  w-[33%]" (click)="isInStorage = true">Details on current inventory</button>}
            @else {<button class="bg-linear-0 from-blue-500 via-blue-600 to-blue-500 hover:via-blue-400 hover:scale-101 rounded-xl p-1 border-gray-600 border-2 mt-5 w-[33%]" (click)="isInStorage=true">Details on current inventory</button>}
        </div>
    </span>  
    
    <h2 class="text-2xl font-bold border-b w-fit">Ingredients recommended for restocking</h2>
        <div class="flex flex-wrap">
            @for (item of restocks; track $index) {
                <div class="w-fit h-fit p-2 bg-linear-0 from-gray-700 to-gray-500 text-white rounded-md m-2">
                    <h3>{{item.created_at.toString().split('T')[0]}} {{item.created_at.toString().split('T')[1].split(".")[0]}}</h3>
                    @for (ing of item.items; track $index) {
                        <h2 class="font-bold text-lg mt-1">{{ing.ingredient.name}}: {{ing.quantity}} {{ing.ingredient.unit}} <button class="bg-gray-500 rounded-md px-1 hover:scale-101 hover:bg-gray-400" (click)="openOrderPopUp()">Place order</button></h2>
                    }
                </div>  
            }                    
        </div>

    <h2 class="text-2xl font-bold border-b w-fit">Recent Stock Movements <button class="font-normal bg-linear-0 from-blue-500 to-blue-500 via-blue-600 hover:via-blue-400 px-2 rounded-md hover:scale-101" (click)="openMovementLog()">All records</button> </h2>
    @for (item of recentMovements; track $index) {
        <app-movement-component [movement]="item"></app-movement-component>
    }

    }@else {
    <app-storage-component class="w-full" (back)="isInStorage = $event" (ranOut)="isOutOfIngredient=$event" [ingredients]="ingredients"></app-storage-component>
    }
}