<a href="" (click)="goBack()">{{backButton}}</a>

<table>
    <tr>
        <td></td>
        <td rowspan="4" class="pbar">
            <div class="bar">
                <div class="fuller"></div>
            </div>
        </td>
       <td rowspan="4" class="pbar">
            <div class="bar">
                <div class="fuller"></div>
            </div>
        </td>
        <td rowspan="4" class="pbar">
            <div class="bar">
                <div class="fuller"></div>
            </div>
        </td>
        <td rowspan="4" class="pbar">
            <div class="bar">
                <div class="fuller"></div>
            </div>
        </td>
        <td rowspan="4" class="pbar">
            <div class="bar">
                <div class="fuller">

                </div>
            </div>
        </td>
        <td rowspan="4" class="pbar">
            <div class="bar">
                <div class="fuller"></div>
            </div>
        </td>
        <td rowspan="4" class="pbar">
            <div class="bar">
                <div class="fuller"></div>
            </div>
        </td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
    </tr>
    <tr>
        <td></td>
        <td>Mon</td>
        <td>Tue</td>
        <td>Wed</td>
        <td>Thu</td>
        <td>Fri</td>
        <td>Sat</td>
        <td>Sun</td>
    </tr>
        <tr>
        <td>Details:</td>
        <td class="details"></td>
        <td class="details"></td>
        <td class="details"></td>
        <td class="details"></td>
        <td class="details"></td>
        <td class="details"></td>
        <td class="details"></td>
    </tr>
</table>