@if (isLoggedIn) {
    <table class="w-full">
        <tr>
            <td class="w-[10%] align-top"><app-sidebar-component (logOut)="isLoggedIn=$event" (navigated)="currentPage=$event"></app-sidebar-component></td>
            @if (currentPage == "inventory") {
                <td class="w-[60%]"><app-inventory-component class="h-[75%] block"></app-inventory-component></td> 
            }
            @if (currentPage == "staff") {
                <td class="w-[60%]"><app-staff-component></app-staff-component></td>
            }
        </tr>
    </table> 
}
@else {
    <app-login-component (loginAttempted)="loginAttempted()" class="bg-gray-100 rounded-lg block m-auto mt-[10%] size-[35%]"></app-login-component>
}
