<h1 class="font-bold text-xl">Yesterday's statistics</h1>
<div class="w-full shadow-md rounded-md pt-5 pb-2">
    <table class="w-full">
        <tr>
            <td class="w-[50%]">
                <div (click)="openSalesLogs('yesterday')" class="total mr-5 border-2 border-gray-400 min-w-auto w-[15%] h-auto ml-3 rounded-3xl text-white bg-linear-to-r from-blue-500 via-blue-700 to-blue-500 hover:cursor-pointer hover:scale-101">
                    <h2>Details</h2>
                </div>
            </td>
            <td class="text-left">
                <div>
                    <h2>Total influx</h2>
                    <h3>1 Ft</h3>
                </div>
            </td>
        </tr>
        <tr>
            <td>
                <div class="ml-5">
                    <h2>Top sellers:</h2>
                    <table class="shadow-xl h-[10%] w-[80%]">
                        <tr>
                            <td>BEANS</td>
                            <td>150 units sold</td>
                        </tr>
                        <tr>
                            <td>BEESE CHURGER</td>
                            <td>140 units sold</td>
                        </tr>
                        <tr>
                            <td>ONION</td>
                            <td>1 units sold</td>
                        </tr>
                    </table>
                </div>
            </td>
            <td>
                <h2>Expenses</h2>
                <h3>1 Ft</h3>
            </td>
        </tr>
    </table>
</div>
<button class="bg-linear-90 from-blue-500 via-blue-600 to-blue-500 px-3 text-xl font-medium border-2 border-green-900 rounded-xl hover:cursor-pointer" (click)="openSalesLogs('today')">Check today's sales</button>