<table>
    <tr>
        <td>
            <button class="">{{backButton}}</button>
        </td>
    </tr>
    <tr>            
        <td>
            <div class="w-50 bg-blue-500 hover:cursor-pointer" (click)="navigateTo('inventory')">
                <p>Manage inventory</p>
                <img/>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="w-50 bg-blue-500 hover:cursor-pointer" (click)="navigateTo('sales')">
                <p>Manage inventory</p>
                <img/>
            </div>
        </td>
    </tr>
    <tr>
        <td>
            <div class="w-50 bg-blue-500 hover:cursor-pointer" (click)="navigateTo('staff')">
                <p>Manage inventory</p>
                <img/>
            </div>
        </td>
    </tr>
</table>
