<table class="w-[90%] me-2 max-w-xs border-separate border-spacing-y-2">
    <tr>
        <td>
            
        </td>
    </tr>
    <tr class="h-1"></tr>
    <tr class="text-center border-white">
        <td>
            <div class="w-full rounded-md px-4 py-3 text-left shadow-sm transition hover:cursor-pointer hover:shadow bg-blue-500" (click)="navigateTo('inventory')">
                <p class="font-medium leading-tight text-center" (click)="navigateTo('inventory')">Inventory & sales</p>
                <img />
            </div>
        </td>
    </tr>
    <tr class="h-1"></tr>
    <tr class="h-1"></tr>
    <tr class="text-center">
        <td>
            <div class="w-full rounded-md px-4 py-3 text-left shadow-sm transition hover:cursor-pointer hover:shadow bg-blue-500" (click)="navigateTo('staff')">
                <p class="font-medium leading-tight text-center" (click)="navigateTo('staff')">Staff & Orders</p>
                <img />
            </div>
        </td>
    </tr>
</table>