@if (currentPage==="menu") {
    <button class="bg-orange-800 hover:cursor-pointer" (click)="logout()">Log out</button>
    <table class="size-full m-auto mt-[10%]">
        <tr>
            <td>
                @if (isOutOfIngredients) {
                    <div class="menuBtn bg-red-700 text-white hover:cursor-pointer" (click)="navigateTo('inventory')">
                        <p >Manage inventory</p>         
                        <img/>
                    </div>
                } 
                @else {
                    <div class="menuBtn hover:cursor-pointer" (click)="navigateTo('inventory')">
                        <p>Manage inventory</p>         
                        <img/>
                    </div>
                }  
            </td>
            <td id="spacer"></td>
            <td>
                <div class="menuBtn hover:cursor-pointer" (click)="navigateTo('staff')">
                    <p>Manage staff</p>
                    <img/>
                </div>
            </td>
            <td id="spacer"></td>
            <td>
                <div class="menuBtn hover:cursor-pointer" (click)="navigateTo('sales')">
                    <p>Manage sales</p>
                    <img/>
                </div>
            </td>
        </tr>
    </table>
}
@else if (currentPage==="inventory") {
    <table class="m-auto h-[75%] w-[90%] ps-5 align-middle">
        <tr class="">
            <td class="align-middle" style="width: 1%;height: 75%;"><app-sidebar-component (navigated)="navigateTo($event)"></app-sidebar-component></td>
            <td class="w-full align-middle ms-5"><app-inventory-component class="m-3 block" (outOfIngredient)="isOutOfIngredients=$event"></app-inventory-component></td>
        </tr>
    </table>

}
@else if (currentPage==="staff") {
    <table class="block align-middle">
        <tr class="align-middle">
            <td class="align-middle" style="width: 1%;"><app-sidebar-component (navigated)="navigateTo($event)"></app-sidebar-component></td>
            <td class="w-full align-middle ms-5"><app-staff-component class="m-3 block"></app-staff-component></td>
        </tr>
    </table>
}
@else if (currentPage==="sales") {
    <table class="block align-middle">
        <tr class="align-middle">
            <td class="align-middle" style="width: 1%;"><app-sidebar-component (navigated)="navigateTo($event)"></app-sidebar-component></td>
            <td class="w-full align-middle ms-5"><app-sales-component class="m-3 block"></app-sales-component></td>
        </tr>
    </table>
}