<button (click)="goBack()">{{backBtn}}</button>

<table class="border border-gray-300 w-[75%]">
<tr>
    <td>Name</td>
    <td>Current amount</td>
    <td>Maximum amount</td>
    <td>Differential</td>
</tr>
@for (ing of ingredients; track $index) {
    <tr>
        <td>{{ing.name}}</td>
        @if (ing.amount == 0) {
            <td class="bg-red-700 text-white">{{ing.amount}} {{ing.unit}}</td>
        }@else {
            <td class="">{{ing.amount}} {{ing.unit}}</td>  
        }
   
        <td>{{ing.maxAmount}} {{ing.unit}}</td>
        <td>{{differential(ing.amount,ing.maxAmount)}}</td>
    </tr>
}
</table>
