<span class="h-[full] m-5">
    <table class="h-[80%]">
        <tr class="border border-green-500">
            <td>
                <p class="p-1">Currently on shift</p>
                <table class="border border-yellow-500">
                    <tr>
                        <td class="p-1 border-r">Name</td>
                        <td class="p-1">Role</td>
                    </tr>
                    <tr>
                        <td class="p-1 border-r">John Doe</td>
                        <td class="p-1">Manager</td>
                    </tr>
                    <tr>
                        <td class="p-1 border-r">Jane Smith</td>
                        <td class="p-1">Developer</td>
                    </tr>
                </table>
            </td>
            <td>
                <p class="p-1">Other shifts today</p>
                <table class="border border-blue-500 w-full ">
                    <tr>
                        <td class="p-1 text-center">
                            <button class="bg-blue-400 p-1 my-1 rounded">
                                Next
                            </button>
                        </td>
                    </tr>
                    <tr>
                        <td class="p-1 text-center">
                            <button class="bg-blue-400 p-1 my-1 rounded">
                                Previous
                            </button>
                        </td>
                    </tr>
                </table>
            </td>
        </tr>
        <tr class="border border-red-500">
            <td></td>
            <td></td>
        </tr>
    </table>

</span>
