<span class="m-5 block">
    <div class="flex flex-col gap-4 lg:flex-row lg:items-start p-1">
        <table class="h-[80%] w-full0.75 lg:w-3/4">
            <tr class="text-slate-800">
                <td>
                    <p class="p-1">Currently contracted employees</p>
                    <table class="w-[75%] overflow-hidden rounded-md border border-slate-200 bg-white shadow-sm">
                        <tr class="border-b">
                            <td class="p-1 border-r">Name</td>
                            <td class="p-1">Role</td>
                        </tr>
                        <tr>
                            <td class="p-1 border-r">Gazsi</td>
                            <td class="p-1">Manager</td>
                        </tr>
                        <tr>
                            <td class="p-1 border-r">Józsi</td>
                            <td class="p-1">Employee</td>
                        </tr>
                    </table>
                </td>
            </tr>
        </table>

    </div>

</span>