<span id="body">
    <span>
        <img/>
        <h2>StoreTrack</h2>
    </span>
    <h2>Welcome Back</h2>
    <p>Please enter your credentials to continue</p>

    <table>
        <tr>
            <td><input type="email" name="loginEmail" placeholder="Email" class="form-control" [(ngModel)]="email"/></td>
        </tr>
        <tr>
            <td><input type="password" name="loginPassword" placeholder="Password" class="form-control" [(ngModel)]="pwd"/></td>
        </tr>
        <tr>
            <td><a class="loginBTN btn btn-primary" (click)="loginAttempt('coordinator')">Log in as Coordinator</a></td>
        </tr>
        <tr>
            <td><button class="loginBTN btn btn-primary" (click)="loginAttempt('manager')">Log in as Manager</button></td>
        </tr>
        <tr>
            <td><button class="loginBTN btn btn-primary" (click)="loginAttempt('genManager')">Log in as General Manager</button></td>
        </tr>
        <tr>
            <td><a href="">Forgot Password</a></td>
        </tr>
    </table>
</span>